@model IEnumerable<AppSemTemplate.Models.Produto>

@{
    ViewData["Title"] = "Meus Produtos";
}
<h1>@ViewData["Title"]</h1>
<br />
<p>
    <a class="btn btn-primary" asp-action="CriarNovoProduto"><spam class="fa fa-plus"></spam> Novo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="/images/@item.Imagem" style="height: 100px; width: 61px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    <botao tipo-botao="Detalhes" route-id="@item.Id" title="Detalhes"></botao>
                    <botao tipo-botao="Editar"   route-id="@item.Id" title="Editar"></botao>
                    <botao tipo-botao="Excluir"  route-id="@item.Id" title="Excluir"></botao>
                </td>
            </tr>
        }
    </tbody>
</table>

<vc:counter model-counter="@Model.Count()"></vc:counter>
